<!-- Bootstrap Navigation Bar -->
{% if(aSurveyInfo.class.navbar) %}
    <div id="umk-header">
        <div id="umk-logo"></div>
        <div id="umk-surveyname">{{ aSurveyInfo.name }}</div>
    </div>
{% endif %}
